#key
wecal-key.pem

# dependencies
/backend/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store

# Database
*.db
users.db

# Docker
.dockerignore
docker-compose.override.yml
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cf
/cloudflare-agent/node_modules/
