p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #e6e6e6;
  }
  
  p strong {
    font-weight: bold;
  }
  
  p em {
    font-style: italic;
    color: #e6e6e6;
  }
  i {
    color: #e6e6e6;
  }
  